.create-car-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.create-car-form {
  width: 100%;
  max-width: 600px;
}

.create-user-button {
  width: 100%;
}
