:root {
  --login-page-background-color: #c0d6df;
  --login-form-background-color: #eaeaea;
  --login-page-title-color: #4f6d7a;
  --form-text-color: #e8dab2;
  --navbar-color: #dd6e42;
  --cancel-button: #e34234;
}

.login-page {
  height: 100vh;
  overflow: hidden;
  background-color: var(--login-page-background-color);
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-bottom: 5rem;
}

.form-container {
  margin-left: 50px;
  background-color: var(--login-form-background-color);
  padding: 50px 50px 25px 0px;
  border-radius: 20px;
}

.login-form-buttons {
  display: flex;
  flex-direction: row-reverse;
}

.back-to-home {
  width: 5rem;
  background-color: #e34234;
}

.login-form {
  width: 100%;
  max-width: 600px;
}

.login-form-item {
  margin-bottom: 16px;
}

.login-button {
  width: 100%;
  margin-left: 5px;
}

.login-titles h1 {
  font-size: 100px;
}

.login-titles h2 {
  font-size: 50px;
  color: var(--navbar-color);
}

.login-titles {
  color: var(--login-page-title-color);
}

@media only screen and (max-width: 900px) {
  .login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
